Repository easyops-cn/next-providers: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): yarn renew
  package.json
  renovate.json
  yarn.lock
Due: prettier --write

chore(release): publish
  sdk/air-admin-service-sdk/CHANGELOG.md
  sdk/air-admin-service-sdk/package.json
  sdk/api-gateway-sdk/CHANGELOG.md
  sdk/api-gateway-sdk/package.json
  sdk/auth-sdk/CHANGELOG.md
  sdk/auth-sdk/package.json
  sdk/cmdb-sdk/CHANGELOG.md
  sdk/cmdb-sdk/package.json
  sdk/form-builder-service-sdk/CHANGELOG.md
  sdk/form-builder-service-sdk/package.json
  sdk/micro-app-sdk/CHANGELOG.md
  sdk/micro-app-sdk/package.json
  sdk/micro-app-standalone-sdk/CHANGELOG.md
  sdk/micro-app-standalone-sdk/package.json
  sdk/monitor-sdk/CHANGELOG.md
  sdk/monitor-sdk/package.json
  sdk/msgsender-sdk/CHANGELOG.md
  sdk/msgsender-sdk/package.json
  sdk/next-builder-sdk/CHANGELOG.md
  sdk/next-builder-sdk/package.json
  sdk/object-store-sdk/CHANGELOG.md
  sdk/object-store-sdk/package.json
  sdk/permission-sdk/CHANGELOG.md
  sdk/permission-sdk/package.json
  sdk/user-service-sdk/CHANGELOG.md
  sdk/user-service-sdk/package.json
Due: prettier --write

chore(): update sdk
  sdk/api-gateway-sdk/contracts.json
  sdk/api-gateway-sdk/src/api/api_gateway/sso/ssoAuthorizeRedirect.ts
  sdk/api-gateway-sdk/src/model/micro_app/ModelInstalledMicroApp.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  sdk/api-gateway-sdk/CHANGELOG.md
  sdk/api-gateway-sdk/package.json
Due: prettier --write

chore(): use lerna@6 [skip ci]
  .github/workflows/lerna-version.yml
Due: none

chore(release): publish
  sdk/next-builder-sdk/CHANGELOG.md
  sdk/next-builder-sdk/package.json
Due: prettier --write

chore(release): publish
  sdk/user-service-sdk/CHANGELOG.md
  sdk/user-service-sdk/package.json
Due: prettier --write

chore(): update sdk
  sdk/user-service-sdk/src/model/user_service/ModelMyCollection.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add apis: AuthApi_checkLoginByName, SsoApi_validateAccessToken
  sdk/api-gateway-sdk/contracts.json
  sdk/api-gateway-sdk/src/api/api_gateway/auth/checkLoginByName.ts
  sdk/api-gateway-sdk/src/api/api_gateway/auth/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/sso/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/sso/validateAccessToken.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  sdk/cmdb-sdk/CHANGELOG.md
  sdk/cmdb-sdk/package.json
Due: prettier --write

chore(): manual upgrade @next-core/sdk-scripts
  package.json
  yarn.lock
Due: prettier --write

chore(release): publish
  sdk/sys-setting-sdk/CHANGELOG.md
  sdk/sys-setting-sdk/package.json
Due: prettier --write

chore(): yarn renew
  package.json
Due: prettier --write

chore(): update sdk
  sdk/api-gateway-sdk/README.md
  sdk/api-gateway-sdk/contracts.json
  sdk/api-gateway-sdk/src/api/api_gateway/auth/loginV2.ts
  sdk/api-gateway-sdk/src/model/micro_app/ModelInstalledMicroApp.ts
  sdk/api-gateway-sdk/src/model/micro_app_standalone/ModelLaunchpadDesktop.ts
  sdk/api-gateway-sdk/src/model/micro_app_standalone/ModelLaunchpadDesktopItem.ts
  sdk/api-gateway-sdk/src/model/micro_app_standalone/ModelLaunchpadStoryboard.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  sdk/micro-app-sdk/CHANGELOG.md
  sdk/micro-app-sdk/package.json
Due: prettier --write

feat(): add apis: AuthApi_switchOrg, SsoServerApi_index, SsoServerApi_oauthAccessToken, SsoServerApi_oauthUserInfo
  sdk/api-gateway-sdk/contracts.json
  sdk/api-gateway-sdk/src/api/api_gateway/auth/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/auth/switchOrg.ts
  sdk/api-gateway-sdk/src/api/api_gateway/sso_server/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/sso_server/oauthAccessToken.ts
  sdk/api-gateway-sdk/src/api/api_gateway/sso_server/oauthUserInfo.ts
  sdk/api-gateway-sdk/src/index.ts
  sdk/api-gateway-sdk/src/model/micro_app/ModelInstalledMicroApp.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(): update sdk
  sdk/cmdb-sdk/src/model/cmdb/ModelObjectAttrValue.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

feat(): add apis: BootstrapStandaloneApi_batchDeleteBootstrapStandaloneCache, CustomAuthConfigApi_createBackendNode, CustomAuthConfigApi_updateBackendNode
  sdk/api-gateway-sdk/contracts.json
  sdk/api-gateway-sdk/src/api/api_gateway/auth/checkLogin.ts
  sdk/api-gateway-sdk/src/api/api_gateway/bootstrap_standalone/batchDeleteBootstrapStandaloneCache.ts
  sdk/api-gateway-sdk/src/api/api_gateway/bootstrap_standalone/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/custom_auth_config/createBackendNode.ts
  sdk/api-gateway-sdk/src/api/api_gateway/custom_auth_config/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/custom_auth_config/updateBackendNode.ts
  sdk/api-gateway-sdk/src/model/api_gateway/ModelBackendNode.ts
  sdk/api-gateway-sdk/src/model/api_gateway/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  sdk/form-builder-service-sdk/CHANGELOG.md
  sdk/form-builder-service-sdk/package.json
Due: prettier --write

feat(): add apis: AuthApi_userNameAuthorization, BootstrapStandaloneApi_deleteResourcesRedisCache, WechatLlmApi_getWechatLiveUser, WechatLlmApi_index, WechatLlmApi_weChatLogin
  sdk/api-gateway-sdk/contracts.json
  sdk/api-gateway-sdk/src/api/api_gateway/auth/checkLogin.ts
  sdk/api-gateway-sdk/src/api/api_gateway/auth/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/auth/userNameAuthorization.ts
  sdk/api-gateway-sdk/src/api/api_gateway/bootstrap_standalone/deleteResourcesRedisCache.ts
  sdk/api-gateway-sdk/src/api/api_gateway/bootstrap_standalone/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/wechat_llm/getWechatLiveUser.ts
  sdk/api-gateway-sdk/src/api/api_gateway/wechat_llm/index.ts
  sdk/api-gateway-sdk/src/api/api_gateway/wechat_llm/weChatLogin.ts
  sdk/api-gateway-sdk/src/index.ts
Due: cross-env ESLINT_ENV='production' eslint --fix --quiet, prettier --write

chore(release): publish
  sdk/llm-sdk/CHANGELOG.md
  sdk/llm-sdk/package.json
Due: prettier --write

chore(release): publish
  sdk/micro-app-standalone-sdk/CHANGELOG.md
  sdk/micro-app-standalone-sdk/package.json
Due: prettier --write

Path conditions:
  cross-env ESLINT_ENV='production' eslint --fix --quiet: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.css)) or (any of: *.html)) or (any of: *.md)) or (any of: *.json)
